<div class="chart">

    <table class="lines">
        <tr *ngFor="let row of rows.reverse(); index as i">
            <td *ngIf="row % rowNum == 0 || 10 >= rows.length">
                <div class="count">{{row}}</div>
            </td>
        </tr>

    </table>

    <table class="data">
        <tr>
            <td *ngFor="let day of dates; index as i" [ngClass]="{'darker': i % 2 != 0}">
                <div class="col">
                    <div  class="dateData submitted" [ngStyle]="{'height': ((day.submitted * 100) / rows.length).toFixed() + '%' }">
                    
                    </div>
                    <div  class="dateData unfinished" [ngStyle]="{'height': ((day.unfinished * 100) / rows.length).toFixed() + '%' }">
                    
                    </div>
                    <div  class="dateData cancelled" [ngStyle]="{'height': ((day.cancelled * 100) / rows.length).toFixed() + '%' }">
                    
                    </div>
                    <div class="dateData visited" [ngStyle]="{'height': ((day.visited * 100) / rows.length).toFixed() + '%' }">
                    
                    </div>
                </div>
                <div class="dateLineHolder"><div class="dateLine"></div></div>
                <div class="dateDetails" [ngClass]="{'noNeighbors': colNum != 0}" *ngIf="i % colNum == 0 || colNum == 0">
                    {{day.date}}
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- <button (click)="addRow()">up</button> -->

<!-- <button (click)="minusRow()">down</button> -->