.status {
    width: 100%;
    background: #eff4f757;
    justify-content: center;
    text-align: center;
    // top: 60px;
    left: 0;
    right: 0;
    // height: 60px;
    width: 100%;
    display: flex;
}

.focused_new {
    background-color: #bcd7e5 !important;
    // background: rgba(0, 0, 0, 0.89) !important;
}

.focused_pending {
    background-color: rgb(180, 218, 218) !important;
}

.focused_booked {
    background-color: rgb(196, 221, 196) !important;
}

.focused_declined {
    background-color: rgb(218, 192, 192) !important;
}

#new,
#pending,
#booked,
#declined {
    font-size: 18px;
    padding-bottom: 1%;
    padding-top: 1%;
}

#new {
    color: #0a9aef;
    // background: rgba(0, 0, 0, 0.89);
}

#pending {
    color: rgb(3, 124, 124);
}

#booked {
    color: rgb(4, 146, 4);
}

#declined {
    color: rgb(179, 7, 7);
}

.service {
    color: white;
    font-weight: inherit;
}

.mat-raised-button {
    background: rgb(0, 153, 255);
    color: white;
    margin-left: 13%;
}

.badge,
.button {
    margin: 4%;
}

.container {
    position: relative;
    z-index: 10;
    top: 0;
}

.focused_notif {
    background-color: 3px dodgerblue !important;
}